name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.1

    - name: Install Node v14
      uses: actions/setup-node@v2.1.1
      with:
        node-version: 14

    - name: deps cache
      uses: actions/cache@v2.1.0
      with:
        path: node_modules/
        key: ${{ runner.os }}-yarn

    - name: install dependencies
      run: sudo yarn

    - name: run tsc
      run: |
        sudo yarn global add typescript
        tsc

    - name: caching build files
      uses: actions/cache@v2.1.0
      with:
        path: build/
        key: ${{ runner.os }}-build

  lint:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.1

    - name: Install Node v14
      uses: actions/setup-node@v2.1.1
      with:
        node-version: 14

    - name: download build files
      uses: actions/cache@v2.1.0
      with:
        path: build/
        key: ${{ runner.os }}-build

    - name: run eslint
      run: |
        sudo yarn global add eslint
        eslint build/**/*.js
